.main {
    padding: 6rem;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.report{
  display: flex;
  border: 1px solid #0366E7;
  margin-bottom: 10px;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
}

.report p{
  margin:0;
  padding: 16px;
}
  